{% extends 'base.html.twig' %}

{% block title %}Connexion à Lepticoin
{% endblock %}

{% block body %}
	<div class="container  ">
		<div class="row justify-content-xl-center justify-content-md-center justify-content-sm-center">
			<div class="col-xl-5 col-lg-5 col-md-8 col-sm-12 formLogin">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					{% if app.user %}
						<div class="mb-3">
							Vous êtes connecté(e) en tant que : 
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Déconnexion</a>
						</div>
					{% endif %}
					<h1 class="h3 mb-3 font-weight-normal text-center">Bonjour !</h1>
                    <p class=" mb-3 font-weight-normal text-center">Connectez-vous pour découvrir toutes nos fonctionnalités.</p>
					<label for="inputEmail">E-mail</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" name="_remember_me">
							Se souvenir de moi
						</label>
					</div>
					<button class="btn btn-primary btn-lg btn-block btnLogin" type="submit">
						Se connecter
					</button>
                    <p class="text-center">Envie de nous rejoindre ? <a class="formCreateCountLink"href="{{path('app_register')}} ">Créer un compte</a></p>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
