{% extends 'base.html.twig' %}

{% block title %}Répertoire{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="container  ">
		<div class="row justify-content-xl-center justify-content-md-center justify-content-sm-center">
			<div class="col-xl-5 col-lg-5 col-md-8 col-sm-12 formRegister">
    <h1 class="text-center">Vous enregistrer</h1>

        {{form_start(registrationForm)}}
        {{ form_row(registrationForm.pseudoUser,{'label': 'Votre pseudo','attr': {'class': 'formRegistrationinput form-control'}})}}
        {{ form_row(registrationForm.email, { 'label': 'Votre E-mail','attr': {'class': 'formRegistrationinput form-control'}} )}}
        {{ form_row(registrationForm.plainPassword, { 'label': 'Votre mot de passe','attr': {'class': 'formRegistrationinput form-control'}}) }}
        {{ form_row(registrationForm.agreeTerms, {label: 'J\'accepte de recevoir des trucs inutiles par mail'} ) }}
<p>En créant mon compte je reconnais avoir lu et accepté  <a href="">les Conditions Générales de Vente</a> et <a href="">les Conditions Générales d‘Utilisation</a> , et je confirme être âgé d’au moins 18 ans.</p>
        <button type="submit" class="btn btn-primary btn-lg btn-block btnRegister">Vous enregistrer</button>
    {{ form_end(registrationForm) }}
    	</div>
		</div>
	</div>
{% endblock %}
