{% extends 'base.html.twig' %}

{% block title %}Faq index{% endblock %}

{% block body %}
<div class="example-wrapper legalnoticetext">

    <h2>Index F.A.Q.</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Réponse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for faq in faqs %}
            <tr>
                <td>{{ faq.id }}</td>
                <td>{{ faq.question }}</td>
                <td>{{ faq.answer }}</td>
                <td>
                    <a href="{{ path('faq_show', {'id': faq.id}) }}">Afficher</a>
                    <a href="{{ path('faq_edit', {'id': faq.id}) }}">Editer</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">Aucune donnée trouvée</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('faq_new') }}">Créer une nouvelle donnée</a>
</div>
{% endblock %}