<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/united/bootstrap.min.css" integrity="sha384-Uga2yStKRHUWCS7ORqIZhJ9LIAv4i7gZuEdoR1QAmw6H+ffhcf7yCOd0CvSoNwoz" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
		<link rel="stylesheet" href="{{asset("css/accordionstyle.css")}}">
		<link rel="stylesheet" href="{{asset("css/style.css")}}">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="{{asset("js/script.js")}}"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
		<link rel="SHORTCUT ICON" href="{{asset('icons/tab_icon.ico')}}">
		<title>
			{% block title %}Lepticoin des bonnes affaires!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>

	<body>
		<div class="container-fluid topbar fixed-top">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div>
					<a class="nav_card_link" href="#"><i class="fab fa-sistrix fa-search fa-responsive"></i></a>
				</div>
				<div>
					<a class="navbar-brand" href="{{path('home')}}">Lepticoin</a>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_card" aria-controls="nav_card" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
						<li class="nav-btn">
							<a href="{{path('notice_new')}} "><button type="button" class="btn btn-primary btn-pass_an_ad"><img class="pass_an_ad_icon1" src="{{asset('icons/pass_an_ad_icon1.ico')}}" alt="">&nbsp;&nbsp;&nbsp;&nbsp;Déposer une annonce</button></a>
						</li>
						<li class="nav-search">
							<a class="nav-link nav-link-search" href="#">
								<i class="fab fa-sistrix fa-search"></i>
								Rechercher
							</a>
						</li>
					</ul>
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<i class="far fa-bell li_icon"></i>
							<a class="nav-link" href="#">Mes recherches</a>
						</li>
						<li class="nav-item">
							<i class="far fa-heart"></i>
							<a class="nav-link" href="#">Favoris</a>
						</li>
						<li class="nav-item">
							<i class="far fa-comment-alt"></i>
							<a class="nav-link" href="#">Messages</a>
						</li>
							{% if is_granted('ROLE_USER') %}
						<li class="nav-item">
							<i class="far fa-user"></i>
							<a class="nav-link" href="{{path('app_logout')}} ">Se deconnecter</a>
						</li>
						{% else %}
						<li class="nav-item">
							<i class="far fa-user"></i>
							<a class="nav-link" href="{{path('app_login')}} ">Se connecter</a>
						</li>
						{% endif %}
						{% if is_granted('ROLE_USER') %}
						<li class="nav-item">
							<i class="far fa-user"></i>
						
							<a class="nav-link" href="{{path('menu_principal_user')}} ">{{app.user.pseudoUser}}</a>
						</li>
						{% else %}
							<li class="nav-item">
							<i class="far fa-user"></i>
						
							<a class="nav-link" href="{{path('app_register')}} ">S'enregistrer</a>
						</li>

						{% endif %}
					</ul>

				</nav>

			</div>
			<div class="collapse" id="nav_card">
				<div class="nav_card nav_card-body">
					<p>
						<div>
							<a class="nav_card_link" href="#"><img class="pass_an_ad_icon_black" src="{{asset('icons/pass_an_ad_icon_black.ico')}}" alt="">&nbsp;&nbsp;&nbsp;&nbsp;Déposer une annonce</a>
						</div><br>
						<div>
							<a class="nav_card_link" href="#">
								<i class="fab fa-sistrix fa-search"></i>Rechercher</a>
						</div>
					</p>
					<hr>
					<p>
						<div>
							<a class="nav_card_link" href="#">
								<i class="far fa-comment-alt"></i>Messages</a>
						</div><br>
						<div>
							<a class="nav_card_link" href="#">
								<i class="far fa-heart"></i>Favoris</a>
						</div><br>
						<div>
							<a class="nav_card_link" href="#">
								<i class="far fa-bell li_icon"></i>Recherches sauvegardées</a>
						</div>
					</p>
					<hr>
					<a href="#">
						<div class="my_account">
							<img class="monCompte_icon" src="{{asset('images/monCompte_icon.jpg')}}" alt="">
							<div>Mon compte<i class="fas fa-chevron-right"></i>
							</div>
							<div>
								<span>Mes annonces en ligne, mes transactions,etc.</span>
							</div>
						</div>
					</a>
					<hr>
					<p>
						<div>
							<a class="nav_card_link logout_me" href="#">Me déconnecter</a>
						</div><br>
						{# <div><a class="nav_card_link login_me" href="#">Se connecter</a></div><br> #}
					</p>
					<hr>
					<p>
						<div>
							<a class="nav_card_link" href="#">Informations pratiques<i class="fas fa-chevron-right"></i>
							</a>
						</div><br>
						<div>
							<a class="nav_card_link" href="#">lepticoin Groupe<i class="fas fa-chevron-right"></i>
							</a>
						</div><br>
					</p>
					<hr>
				</div>
			</div>
			<div class="_3ULE3">
				<div class=" _1MxlY"></div>
			</div>

			{% block body %}{% endblock %}
			<footer>
				<div class="row footer">
					<div class="col-md-4">
						<h3>A propos de Leptitcoin</h3><hr/><p>Qui sommes-nous ?</p>
						<p>Nous rejoindre</p>
						<h3>Nos applications</h3><hr/></div>
					<div class="col-md-4">
						<h3>Informations légales</h3><hr/><p>
							<a href="{{ path('legalNotice') }}">Conditions générales d’utilisation</a>
						</p>
						<p>Règles de diffusion, de référencement et de déréférencement</p>
						<p>Conditions Générales de Vente</p>
						<p>
							<a href="{{ path('rgpd') }}">Vie privée / cookies</a>
						</p>
						<p>Vos droits et obligations</p>
					</div>
					<div class="col-md-4">
						<h3>Des questions ?</h3><hr/><p>
							<a href="{{ path('faq_public') }}">Aide</a>
						</p>
						<p>Le service de paiement sécurisé et la livraison</p>
						<p>Demandez conseil à la Communauté</p>
					</div>
				</div><hr/>
				<p class="footer lepticoin-footer">Lepticoin : exercice de production d'un site type "Leboncoin" dans le cadre de la formation "développeur web et web mobile"</p><hr/><p class="footer arinfo">Arinfo (juillet 2020)<img src="{{ asset('images/logo-arinfo.jpg') }}" width="200" alt="logo Arinfo" class="logo-arinfo"></p>
			</footer>
			{% block javascripts %}{% endblock %}
			{# <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> #}
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		</body>
	</body>
</html>
