{% extends 'base.html.twig' %}

{% block title %}Index des messages{% endblock %}

{% block body %}
    <h1>Index des messages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu du message</th>
                <th>Date du message</th>
                <th>Email</th>
                <th>Expéditeur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.contentMessage }}</td>
                <td>{{ message.dateMessage ? message.dateMessage|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ message.emailMessage }}</td>
                <td>{{ message.senderMessage }}</td>
                <td>
                    <a href="{{ path('messages_show', {'id': message.id}) }}">Montrer</a>
                    <a href="{{ path('messages_edit', {'id': message.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('messages_new') }}">Créer un nouveau message</a>
{% endblock %}
